
doctype html
html
    head
        title People and Skills
        script(src='/js/jquery.js')
        script(src='/js/jquery.dataTables.min.js')
        script(src='/js/mindmup-editabletable.js')
        link(rel='stylesheet', href='/css/jquery.dataTables.css')
        script.
            $(document).ready(function() {
                $('#skillTable').dataTable().editableTableWidget();
            });
    body
        p 
            a(href="/people") People
        p 
            a(href="/skills") Skills
    block content
