
extends layout

block content
    if persons.length
        div
            table#skillTable
                thead
                    tr
                        td Email
                        td URL
                        if skills.length
                            for skill in skills
                                td #{skill.title}
                tbody
                    for person in persons
                        tr
                            td #{person.title}
                            if(person.url)
                                td 
                                    a(href='#{person.url}') #{person.url}
                            else
                                td
                            - if( person.skills.length) {
                                - for(i in skills) {
                                td
                                    - for(j in person.skills) {
                                        - if (skills[i].title == person.skills[j].title) {
                                            p  X
                                        - }
                                    - }
                                - }
                            - }
                                    
